h1.welcome {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
}

#pine-container {
  padding-top: 30px;
}

/** GAME CONTAINER STYLES START */
#game-container {
  visibility: hidden;
  position: fixed;
  height: 100%;
  left: -9999em;
  opacity: 0;
  top: 0;
  width: 100%;
  -webkit-transition: opacity;
  -webkit-transition-duration: 400ms;
}

#game-container.playing {
  visibility: visible;
  left: 0;
  opacity: 1;
}

/* This must come after #game-container.playing */
#game-container.exiting {
  opacity: 0;
}

  #game-container .input-proxy {
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
  }

    #game-container .input-proxy .key-proxy {
      position: absolute;
      left: -9999em;
    }

  #game-container iframe {
    border: none;
    height: inherit;
    width: inherit;
  }
/** GAME CONTAINER STYLES END */

/** MENU STYLES START */
.main-menu {
  margin: 40px auto 0;
  width: 100%;
}

  .main-menu .main-menu-btn-array {
    margin: 0 auto;
    overflow: auto;
    width: 960px;
  }

    .main-menu .main-menu-btn-array li {
      float: left;
      margin: 0 25px 35px;
    }

    .main-menu.wide .main-menu-btn-array li {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

  .main-menu .main-menu-btn {
    border-radius: 30px;
    font-size: 34px;
    height: 120px;
    width: 260px;
  }

  .main-menu.wide .main-menu-btn {
    width: 100%;
  }

  .main-menu .main-menu-btn.selected,
  .main-menu .main-menu-btn:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 12px 2px #008eff;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: main-menu-selector-ring;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  }

.menu-pager {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

  .menu-pager .menu-pager-rail {
    position: relative;
    -webkit-transition: left;
    -webkit-transition-duration: 350ms;
  }

#main-menus {
  opacity: 0;
}

.loaded #main-menus {
  opacity: 1;
  -webkit-transition: opacity;
  -webkit-transition-duration: 750ms;
}
/** MENU STYLES END */

/** KEYBOARD STYLES START */
.pine-keyboard-scrim {
  background: #333;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: .5;
  right: 0;
  top: 0;
}

  .pine-keyboard-textarea-container {
    position: absolute;
    top: 30%;
    width: 100%;
  }

    .pine-keyboard-textarea-container textarea{
      display: block;
      margin: 0 auto;
    }

      .pine-keyboard-layout-grid {
      }

        .pine-keyboard-layout-grid table {
          font-family: courier;
          font-size: 1.4em;
          margin: 0 auto;
          text-align: center;
        }

          .pine-keyboard-selected-key {
            background: #f0f;
          }

/** KEYBOARD STYLES END */

/** DEBUG STYLES START */
#debug-footer {
  bottom: 0;
  padding-left: 8px;
  position: fixed;
  left: 0;
}

  #debug-footer .debug-modal {
    display: none;
  }

  #debug-footer-trigger:hover + .debug-modal {
    display: block;
  }

.debug-modal {
  background: #000;
  border-radius: 6px;
  bottom: 5%;
  color: #fff;
  left: 5%;
  opacity: .95;
  padding: 30px;
  position: fixed;
  right: 5%;
  top: 5%;
}

  .debug-modal dl {
    padding-left: 1em;
  }

  .debug-modal dt {
    font-size: 1.2em;
  }

  .debug-modal dd {
    margin-bottom: 1em;
  }
/** DEBUG STYLES END */
